<script src="{{ url_for('chartkick.static', filename='Chart.bundle.js') }}"></script>
<script src="{{ url_for('chartkick.static', filename='chartkick.js') }}"></script>

<h1>
<center>
{{ current_co2 if current_co2 is not none else '???' }}ppm ({{ current_co2_age }} min ago)
</center>
</h1>

{{ chart }}
